{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Marketplace" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% translate "Marketplace" %}</li>
{% endblock %}

{% block content %}
    <h1>{% translate "Marketplace" %}</h1>

    <ul>
        {% for shop in shops %}
            <li>{{ shop.title }}</li>
            <a href="{% url 'marketplace:shop_detail' shop.id %}">{% translate "View shop" %}</a>
        {% endfor %}
    </ul>
{% endblock %}