{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktranslate with title=shop.title %}Shop {{ title }}{% endblocktranslate %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:shop_list' %}">{% translate "Marketplace" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate with title=shop.title %}Shop {{ title }}{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <h2 class="mb-0">{% blocktranslate with title=shop.title %}Shop <span class="gradient-text">{{ title }}</span>{% endblocktranslate %}</h2>
    <div class="d-flex gap-4 ms-4">
        {% if shop.is_pinned %}
            <h2 class="mb-0"><i class="bi bi-star-fill color-purple" data-bs-toggle="tooltip" data-bs-title="{% translate 'Pinned' %}"></i></h2>
        {% endif %}
        {% if shop.is_on_marketplace %}
        <h2 class="mb-0"><i class="bi bi-shop-window color-purple" data-bs-toggle="tooltip" data-bs-title="{% translate 'On marketplace' %}""></i></h2>
        {% endif %}
    </div>
</div>
<hr>

<p class="text-body-secondary mb-5">{% blocktranslate with username=shop.owner.username %}Created by {{ username }}{% endblocktranslate %}</p>

<div class="d-flex gap-3 controls mb-5">

    <div class="btn-group" role="group">

        {% if perms.marketplace.use_shop_from_marketplace %}
            <form action="{% url 'marketplace:shop_use' shop.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">{% translate "Use this shop" %}</button>
            </form>
        {% endif %}
    
    </div>
</div>

{% endblock %}