{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Coupons" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% translate "Coupons" %}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <div class="d-flex justify-content-between">
            <h2 class="mb-0"><i class="bi bi-ticket me-3 color-purple"></i>{% translate "Coupons" %}</h2>
            {% if perms.core.add_coupon %}
                <a href="{% url 'core:coupon_create' %}" class="btn btn-primary">{% translate "Create coupon" %}</a>
            {% endif %}
        </div>
        <hr>
            
        {% if page_obj %}
            {% include "core/modules/coupon_card.html" with coupons=page_obj %}
        {% else %}
            <p>{% translate "No coupons found" %}</p>
        {% endif %}
    </div>

    {% if page_obj %}
    <div class="pagination mb-4">
        {% include "core/modules/pagination.html" with collection=page_obj %}
    </div>
    {% endif %}
{% endblock %}