{% extends "base.html" %}

{% load core_extras %}
{% load i18n %}
{% load static %}

{% block assets %}
    {{ block.super }}
    <script src="{% static 'js/coupon_form.js' %}"></script>
{% endblock %}

{% block title %}{% if edit %}{% translate "Edit coupon" %}{% else %}{% translate "Create coupon" %}{% endif %} {{ coupon.title }}{% endblock %}

{% block content %}
    <h2>{% if edit %}{% translate "Edit coupon" %}{% else %}{% translate "Create coupon" %}{% endif %} {{ coupon.title }}</h2>
    
    {% if edit %}
        {% url 'core:coupon_detail' coupon.pk as link %}
    {% else %}
        {% url 'core:coupon_list' as link %}
    {% endif %}

    {% include "creation_form.html" with form=form return_url=link enctype='multipart/form-data' %}
{% endblock %}