{% extends "core/base.html" %}

{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
    <h1>{% translate "Welcome to Registar" %}!</h1>

    {% if user.is_authenticated %}
        <p>{% translate 'Hi' %}, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</p>

        <form action="{% url 'account:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="{% translate 'Logout' %}" class="btn btn-primary">
        </form>
    {% else %}
        <p>{% translate "Welcome to Registar! Please login or register to continue." %}</p>
        
        <div class="d-flex flex-row">
            <a href="{% url 'account:login' %}" class="btn btn-outline-primary me-3">{% translate 'Login' %}</a>
            <a href="{% url 'account:register' %}" class="btn btn-outline-primary">{% translate 'Register' %}</a>
        </div>
    {% endif %}
{% endblock %}