{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktranslate with title=shop.title %}Shop {{ title }}{% endblocktranslate %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:shop_list' %}">{% translate "Shops" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate with title=shop.title %}Shop {{ title }}{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    <h2>{% blocktranslate with title=shop.title %}Shop {{ title }}{% endblocktranslate %}</h2>
    <ul>
        <li>Title: {{ shop.title }}</li>
        <li>Is pinned?: {{ shop.is_pinned }}</li>
        <li>Date added: {{ shop.date_added }}</li>
    </ul>
    <h3>{% translate "Coupons" %}</h3>
    <ul>
        {% for coupon in shop.coupon_set.all %}
            <li>{{ coupon.title }}</li>
            {% if perms.core.view_coupon %}
            <a href="{% url 'core:coupon_detail' coupon.id %}">{% translate "View coupon" %}</a>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="d-flex gap-3">
        <a href="{% url 'core:shop_list' %}" class="btn btn-primary">{% translate "Back to shop list" %}</a>
        {% if shop.owner.pk == request.user.pk %}

            {% if perms.core.change_shop %}
            <a href="{% url 'core:shop_update' shop.id %}" class="btn btn-primary">{% translate "Update shop" %}</a>

                {% if shop.is_pinned %}
                    <form action="{% url 'core:shop_unpin' shop.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% translate "Unpin shop" %}</button>
                    </form>

                {% else %}
                    <form action="{% url 'core:shop_pin' shop.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% translate "Pin shop" %}</button>
                    </form>

                {% endif %}

            {% endif %}

            {% if perms.core.shop_upload_to_marketplace %}

                {% if shop.is_on_marketplace %}
                    <form action="{% url 'core:shop_remove_from_marketplace' shop.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% translate "Remove from marketplace" %}</button>
                    </form>

                {% else %}
                    <form action="{% url 'core:shop_upload_to_marketplace' shop.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% translate "Upload to marketplace" %}</button>
                    </form>

                {% endif %}

            {% endif %}

            {% if perms.core.delete_shop %}
                <a href="{% url 'core:shop_delete' shop.id %}" class="btn btn-danger ms-auto">{% translate "Delete shop" %}</a>

            {% endif %}

        {% endif %}
    </div>
{% endblock %}