{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Shops" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% translate "Shops" %}</li>
{% endblock %}

{% block content %}
    {% if page_obj %}
        <div class="pinned_shops mb-4">
            <h2><i class="bi bi-shop me-3 color-purple"></i>{% translate "Shops" %}</h2>
            <hr>
            
            {% include "core/modules/shop_card.html" with shops=page_obj %}
        </div>
        <div class="pagination mb-4">
            {% include "core/modules/pagination.html" with collection=page_obj %}
        </div>
    {% endif %}

    {% if perms.core.add_shop %}
    <a href="{% url 'core:shop_create' %}" class="btn btn-primary w-100">{% translate "Create shop" %}</a>
    {% endif %}

{% endblock %}