{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Groups" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate with username=user.username %}Groups{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    {% if perms.groups.view_invitation %}
        <div class="mb-5">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0"><i class="bi bi-envelope-arrow-down me-3 color-purple"></i>{% translate "Invitations" %}</h2>
                <a href="{% url 'groups:invitation_list' %}" class="btn btn-primary">{% translate "Open invitation overview" %}</a>
            </div>
            <hr>

            {% if invitation_count %}
                <p class="mb-0 fs-3">{% blocktranslate count count=invitation_count %}You have <span class="display-font gradient-text">{{ count }}</span> unprocessed invitation{% plural %}You have <span class="display-font gradient-text">{{ count }}</span> unprocessed invitations{% endblocktranslate %}</p>
            {% else %}
                <p class="mb-0 fs-3">{% blocktranslate %}<span class="display-font gradient-text">No</span> invitations{% endblocktranslate %}</p>
            {% endif %}
        </div>

    {% endif %}
    
    <div class="mb-5">
        <div class="d-flex justify-content-between">
            <h2 class="mb-0"><i class="bi bi-people me-3 color-purple"></i>{% translate "My groups" %}</h2>
            {% if perms.groups.add_group %}
                <a href="{% url 'groups:group_create' %}" class="btn btn-primary">{% translate "Create group" %}</a>
            {% endif %}
        </div>
        <hr>

        {% if page_obj %}
            {% include "core/modules/group_card.html" with groups=page_obj %}
        {% else %}
            <p>{% translate "No groups found" %}</p>
        {% endif %}
    </div>
    
    <div class="mb-4">
        <div class="d-flex justify-content-between">
            <h2 class="mb-0"><i class="bi bi-person-badge me-3 color-purple"></i>{% translate "My memberships" %}</h2>
        </div>
        <hr>

        {% if memberships %}
            {% include "core/modules/membership_card.html" with memberships=memberships %}
        {% else %}
            <p>{% translate "No memberships found" %}</p>
        {% endif %}
    </div>

    {% if page_obj %}
    <div class="pagination mb-4">
        {% include "core/modules/pagination.html" with collection=page_obj %}
    </div>
    {% endif %}

{% endblock %}