{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktranslate with title=group.title %}Invite users to the group {{ title }}{% endblocktranslate %}{% endblock %}

{% block content %}
    <h2>{% blocktranslate with title=group.title %}Invite users to the group {{ title }}{% endblocktranslate %}</h2>
    <p>{% blocktranslate %}Enter the username of the users you want to invite to the group.{% endblocktranslate %}</p>
    <hr>
    {% url 'groups:group_detail' group.pk as link %}
    {% include "creation_form.html" with submit_text=_('Invite') form=form return_url=link %}
{% endblock %}