{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Invitations" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'groups:group_list' %}">{% translate "Groups" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Invitations{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    {% if perms.groups.view_invitation %}
        <div class="mb-4">
            <h2 class="mb-0"><i class="bi bi-envelope-arrow-down me-3 color-purple"></i>{% translate "Invitations" %}</h2>
            <hr>

            {% if page_obj %}
                {% include "core/modules/invitation_card.html" with invitations=page_obj %}
            {% else %}
                <p>{% translate "No invitations" %}</p>
            {% endif %}

        </div>

        {% if page_obj %}
        <div class="pagination mb-5">
            {% include "core/modules/pagination.html" with collection=page_obj %}
        </div>
        {% endif %}

    {% endif %}

    <div class="mb-4">
        <h2 class="mb-0"><i class="bi bi-archive me-3 color-purple"></i>{% translate "Invitation archive" %}</h2>
        <hr>

        <div class="mb-4">
            <h3 class="mb-3">{% translate "Accepted" %}</h3>
            {% if not accepted %}
                <p class="mb-0">{% translate "No accepted invitations" %}</p>
            {% else %}
                {% include "core/modules/invitation_card.html" with invitations=accepted archive=True %}
            {% endif %}
        </div>

        <div class="mb-4">
            <h3 class="mb-3">{% translate "Rejected" %}</h3>
            {% if not rejected %}
                <p class="mb-0">{% translate "No rejected invitations" %}</p>
            {% else %}
                {% include "core/modules/invitation_card.html" with invitations=rejected archive=True %}
            {% endif %}
        </div>

    </div>

{% endblock %}