{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktranslate with title=group.title %}Remove shop from the group {{ title }}{% endblocktranslate %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'groups:group_list' %}">{% translate "Groups" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'groups:group_detail' group.id %}">{% blocktranslate with title=group.title %}Group {{ title }}{% endblocktranslate %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Remove shop{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    <h2 class="mb-0">{% blocktranslate with title=group.title %}Remove shop from the group <span class="gradient-text">{{ title }}</span>{% endblocktranslate %}</h2>
    <hr>
    {% url 'groups:group_detail' group.pk as link %}
    {% include "creation_form.html" with submit_text=_('Remove') form=form return_url=link %}
{% endblock %}