{% load i18n %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for invitation in invitations %}
    <div class="col">
        <div class="card h-100 {% if archive %}text-bg-light{% endif %}">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title mb-0">
                        {% blocktranslate with group=invitation.group.title %}To join {{ group }}{% endblocktranslate %}
                    </h5>
                    <div class="d-flex gap-3 ms-3">
                        {% if invitation.is_processed %}
                            {% if invitation.is_accepted %}
                                <i class="bi bi-envelope-check color-purple"></i>
                            {% endif %}
                            {% if not invitation.is_accepted %}
                                <i class="bi bi bi-envelope-x color-purple"></i>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <hr>
                <p class="mb-0">
                    {% blocktranslate with group=invitation.group.title user=invitation.sender.username %}{{ user }} invited you to join group {{ group }}{% endblocktranslate %}
                </p>
            </div>
            {% if not archive %}
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'groups:invitation_detail' invitation.id %}" class="btn-outline-primary btn stretched-link ms-auto">{% translate 'See invitation' %}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>