{% extends "base.html" %}

{% load core_extras %}
{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block content %}
    <h2 class="mb-0">{% translate "Login" %}</h2>
    <hr>
    
    <form method="post">
        {% include "creation_form_body.html" with form=form %}

        <div class="d-flex flex-row justify-content-between mt-3">
            <input type="submit" value="{% translate 'Login' %}" class="btn btn-primary">
            <a href="{% url 'account:contact_admin' %}" class="btn btn-outline-primary">{% translate "Forgot password?" %}</a>
        </div>
    </form>
{% endblock %}