{% extends "core/base.html" %}

{% load core_extras %}
{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block content %}
    <h2>{% translate "Login" %}</h2>
    
    <form method="post">
        {% csrf_token %}
    
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
        {% for field in form|bootstrapify %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help" id="{{ field.auto_id }}_helptext">
                {{ field.help_text|safe }}
            </p>
            {% endif %}
        {% endfor %}
        <div class="d-flex flex-row justify-content-between mt-3">
            <input type="submit" value="{% translate 'Login' %}" class="btn btn-primary">
            <a href="{% url 'account:contact_admin' %}" class="btn btn-outline-primary">{% translate "Forgot password?" %}</a>
        </div>
        
    </form>
{% endblock %}