{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Password has been successfully changed" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">{% blocktranslate with username=user.username %}Profile{% endblocktranslate %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Change password{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    <h2>{% translate "Password has been successfully changed" %}</h2>

    <a href="{% url 'account:profile' %}" class="btn btn-primary">{% translate "Return to the profile page" %}</a>
{% endblock %}