{% extends "base.html" %}

{% load core_extras %}
{% load i18n %}

{% block title %}{% translate "Change password" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">{% blocktranslate with username=user.username %}Profile{% endblocktranslate %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Change password{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    <h2 class="mb-0">{% translate "Change password" %}</h2>
    <hr>
    
    {% translate 'Change password' as password %}
    {% url 'account:profile' as link %}
    {% include "creation_form.html" with form=form return_url=link submit_text=password %}
{% endblock %}