{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% if user.first_name %}
        {% blocktranslate with username=user.first_name %}{{ username }} profile{% endblocktranslate %}
    {% else %}
        {% blocktranslate with username=user.username %}{{ username }} profile{% endblocktranslate %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">{% translate "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate with username=user.username %}Profile{% endblocktranslate %}</li>
{% endblock %}

{% block content %}
    <h2>{% translate "Hi" %}, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</h2>

    <div class="d-flex gap-3">
        <a href="{% url 'account:password_change' %}" class="btn btn-primary">{% translate "Change password" %}</a>
        {% if perms.accounts.change_user %}
        <a href="{% url 'account:profile_update' user.pk %}" class="btn btn-primary">{% translate "Edit profile" %}</a>
        {% endif %}
        {% if perms.accounts.delete_user %}
        <a href="{% url 'account:profile_delete' user.pk %}" class="btn btn-danger ms-auto">{% translate "Delete account" %}</a>
        {% endif %}
    </div>
        
{% endblock %}